name: Pull Request Tests

on:
  pull_request:
    branches: [ '*' ]
    types:
      - opened
      - synchronize

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: 16
        check-latest: true
        cache: npm
    - run: npm install -g npm
    - run: npm ci
    - run: npm test
    - uses: tintef/nyc-reporter-action@0.2.5
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SKIP_COVERAGE_FOLDER: true